<% layout('./layout/boilerplate')%>
<h1>Show Details For CampGround With Id</h1>
<h2><%= campground.title %></h2>
<h2><%= campground.location %></h2>
<form method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
  <button>Delete Campground</button>
</form>
<footer>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
  <a href="/campgrounds">Back To All Campground </a>
  <a href="/campgrounds/new">Add Another Campground </a>
</footer>
